
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Jua&display=swap');


.history-wrapper {
    font-family: 'Jua', sans-serif;
    margin-right: 10px;
    font-size: 20px;
    opacity: 0.7;
    width: 80%;
}

.history-wrapper:hover {
    opacity: 1.0;
}