@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Jua&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic:700&display=swap');

@media(max-width: 400px){
  .main-title {
    font-size: 45px !important;
    margin: 30px !important;
  }
}

body {
  height: 1000px;
  text-align: center;
  background-image: linear-gradient(90deg, #ffef94 25%, #fff5a6 25%, #fff5a6 50%, #ffef94 50%, #ffef94 75%, #fff5a6 75%, #fff5a6 100%);
  background-size: 120.00px 120.00px;
}

.main-title {
  margin: 50px;
  font-family: 'Jua', sans-serif;
  font-size: 60px;
  color: rgb(245, 68, 68);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  border-radius: 20px;
}

.card {
  font-family: 'Jua', sans-serif;
  font-size: 60px;
  color: white;
  background-color: rgb(173, 173, 255);
  border: 2px dashed rgb(255, 255, 255);
  box-shadow:0px 0px 0px 7px rgb(173, 173, 255);
  border-radius: 15px;
  display: inline-block;
  padding: 20px;
  margin-bottom: 50px;
}

.food-button{
  font-family: 'Jua', sans-serif;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color:  rgb(255, 86, 86);
  color: white;
  opacity: 0.8;
  
}
.food-button:hover {
  opacity: 1;
}

.addr-input {
  border: none;
  height: 20px;
  border-radius: 20px;
  padding: 4px;
  padding-left: 20px;
  font-size: 12px;
  width: 200px;
  outline: none;
}

.list-wrapper {
  min-height: 500px;
}
.list-title {
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.place {
  margin: 20px;

}
.place-title {
  font-size: 25px;
  margin-right: 10px;
  font-family: 'Do Hyeon', sans-serif;
/* font-family: 'Nanum Gothic', sans-serif; */
}

.place-address {
  font-size: 14px;
}

.place-icon{
  color: rgb(82, 150, 201);
  margin-bottom: 4px;
  opacity: 0.7;
}

.place-icon:hover {
  opacity: 1;
}

.error {
  margin: 30px;
}